Interview-Test\Interview-Test.Api\bin
Interview-Test\Interview-Test.Api\obj
Interview-Test\Interview-Test.GatewayApi\bin
Interview-Test\Interview-Test.GatewayApi\obj
Interview-Test\Interview-Test.Infrastructure\bin
Interview-Test\Interview-Test.Infrastructure\obj
Interview-Test\Interview-Test.Services\bin
Interview-Test\Interview-Test.Services\obj
Interview-Test\Interview-Test.Web\bin
Interview-Test\Interview-Test.Web\obj
Interview-Test\Interview-Test.Client\bin
Interview-Test\Interview-Test.Client\node_modules
